.main {
    max-width: 1920px;
    width: 100%;
    height: 100vh;
    position: relative;
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        z-index: -1;
        background-position: bottom;
        background-image: url(../../../src/img/background.jpg);
        width: 100%;
        height: 100%;
        background-size: cover;
    }
    &__title {
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        width: 377px;
        height: 147px;
        background-color: #E93B77;
        border-radius: 8px;
        top: 130px;
    }
    &__title--text {
        font-family: 'Roboto-700', sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        color: #FFF;
        padding-top: 25px;
        padding-bottom: 27px;
        text-align: center;
    }
    &__title--icons {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 0 112px;
        padding-bottom: 46px;
    }
    &__menu {
        display: flex;
        background-color: #FFF;
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 41px;
        padding-top: 163px;
        border-radius: 12px;
    }
    &__input {
        display: flex;
        flex-direction: column;
        input {
            width: 361px;
            height: 42px;
            border-radius: 10px;
            margin-bottom: 14px;
        }
    }
    &__checkbox {
        padding-top: 2px;
        padding-bottom: 42px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        
        
        label {
            font-family: "Roboto-400", sans-serif;
            font-weight: 400;
            color: var(--linear-grey, #7B809A);
            font-size: 14px;
            padding-left: 5px;
        }
    }
    &__button {
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-bottom: 31px;

    }
    &__btn {
        width: 361px;
        height: 40px;
        flex-shrink: 0;
        background-color: #E93B77;
        color: #FFF;
        font-size: 12px;
        font-weight: 700;
        font-family: "Roboto-700", sans-serif;
        border: none;
        border-radius: 8px;
    }
    &__checkbox--entry {
        display: flex;
        width: 25px;
        height: 25px;
        z-index: 2;
        border-radius: 50%;
        position: absolute;
        background-color: #fff;
        border-color: #C7CCD0;
        border-style: solid;
        border-width: 1px;
        top: 540px;
        left: 775px;

    }
    &__subtitle {
        width: 100%;
        text-align: center;
        color: #7B809A;
        font-family: 'Roboto-400', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        span {
            color: #E91F63;
            font-weight: 700;
        }

    }

}
.checkbox {
    width: 20px;
    height: 20px;

    position: relative;
}
