.main {
    width: 100%;
    height: 100vh;
    position: relative;
    background-position: bottom;
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        z-index: -1;
        background-position: bottom;
        background-image: url(../../../assets/img/background.jpg);
        width: 100%;
        height: 100%;
        background-size: cover;
    }
    &__title {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 377px;
        height: 147px;
        background-color: #E93B77;
        border-radius: 8px;
        top: -20px;
        left: 0;
        right: 0;
        margin: 0 auto;
        
    }
    &__title--text {
        font-family: 'Roboto-700', sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        color: #FFF;
        padding-top: 25px;
        padding-bottom: 27px;
        text-align: center;
    }
    &__title--icons {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 0 112px;
        padding-bottom: 46px;
    }
    &__menu {
        display: flex;
        background-color: #FFF;
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 41px;
        padding-top: 163px;
        border-radius: 12px;
        position: relative;
    }
    &__input {
        display: flex;
        position: relative;
        flex-direction: column;
        input {
            width: 361px;
            height: 42px;
            border: 1px solid #C7CCD0;
            border-radius: 10px;
            margin-bottom: 20px;
            padding-left: 16px;
        }
    }
    &__checkbox {
        padding-top: 2px;
        padding-bottom: 42px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        
        
        label {
            font-family: "Roboto-400", sans-serif;
            font-weight: 400;
            color: var(--linear-grey, #7B809A);
            font-size: 14px;
            padding-left: 5px;
        }
    }
    &__button {
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-bottom: 31px;

    }
    &__btn {
        width: 361px;
        height: 40px;
        flex-shrink: 0;
        background-color: #E93B77;
        color: #FFF;
        font-size: 12px;
        font-weight: 700;
        font-family: "Roboto-700", sans-serif;
        border: none;
        border-radius: 8px;
    }
    &__icon {
        a {
            display: block;
            width: 23px;
            height: 23px;
        }
    }
    &__checkbox--entry {
        display: flex;
        width: 20px;
        height: 20px;
        z-index: 2;
        border-radius: 50%;
        position: absolute;
        background-color: #fff;
        border-color: #C7CCD0;
        border-style: solid;
        border-width: 1px;
        top: 2px;
        left: 0;

    }
    &__checkbox--entry.active {
        &:after {
            content: '';
            display: flex;
            width: 10px;
            height: 10px;
            top: 4px;
            left: 4px;
            position: absolute;
            z-index: 2;
            border-radius: 50%;
            background-color: #a3a5b1a0;
            
        }
        
    }
    &__subtitle {
        width: 100%;
        text-align: center;
        color: #7B809A;
        font-family: 'Roboto-400', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        span {
            color: #E91F63;
            font-weight: 700;
        }

    }

}
.email__error {
    position: absolute;
    font-size: 12px;
    top: 41px;
    left: 10px;
    color: #E93B77;
}
.password__error {
    font-size: 12px;
    position: absolute;
    top: 104px;
    left: 10px;
    color: #E93B77;
}
.telephone__error {
    font-size: 12px;
    position: absolute;
    top: 165px;
    left: 10px;
    color: #E93B77;
}
.fullname__error {
    font-size: 12px;
    position: absolute;
    top: 230px;
    left: 10px;
    color: #E93B77;
}
.checkbox {
    width: 20px;
    height: 20px;
    z-index: 3;
    opacity: 0;
    position: relative;
}
